<h3>Employee Section</h3>

<div class="main-section">
  <div class="form-section">
    <table *ngIf="(employeeList$ | async) as list; else loading">
      <thead>
        <tr>
          <th>id</th>
          <th>name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of list">
          <span *ngIf=""></span>
          <td>{{employee.id}}</td>
          <td>{{employee.name}}</td>
          <td><button (click)="deleteEmployee(employee)">Delete</button></td>
        </tr>
        <span *ngIf="list.length == 0"> There's no employees</span>
      </tbody>
    </table>
    <ng-template #loading>Message error</ng-template>
  </div>
  <div class="show-section">
    <form [formGroup]="employeeForm" (ngSubmit)="addEmployee(employeeForm.value)">
      <div>
        <label>Id</label>
        <input type="number" formControlName="id">
      </div>
      <div>
        <label>Name</label>
        <input type="text" formControlName="name">
      </div>
      <input type="submit" value="submit" [disabled]="employeeForm.invalid">
    </form>
  </div>
</div>
